<!-- Change Password Window -->
<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white mt-5 mb-5" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Change Password</h2>
              <p class="text-white-50 mb-5">Please enter your new password!</p>
              <form *ngIf="resetPasswordFormGroup" [formGroup]="resetPasswordFormGroup" (ngSubmit)="onResetPassword()">
                <div formGroupName="resetedPassword" class="text-left">
                  <div class="form-outline form-white mb-4">
                    <input formControlName="newPassword" type="password" class="form-control form-control-lg">
                    <label class="form-label" for="newPassword">
                      <span *ngIf="!newPassword.touched && !newPassword.dirty">Password</span>
                      <span *ngIf="(newPassword.touched || newPassword.dirty) && !newPassword.invalid">Password</span>
                      <span *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="text-danger">
                        <div *ngIf="newPassword.errors['required'] || newPassword.errors['notOnlyWhitespace']">
                          Password is required
                        </div>
                        <div *ngIf="newPassword.errors['minlength']">
                          Password must be at least 5 characters long
                        </div>
                        <div *ngIf="newPassword.errors['maxlength']">
                          Password must be no more than 32 characters long
                        </div>
                      </span>
                    </label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input formControlName="confirmNewPassword" type="password" class="form-control form-control-lg">
                    <label class="form-label" for="confirmNewPassword">
                      <span *ngIf="!confirmNewPassword.touched && !confirmNewPassword.dirty">Confirm Password</span>
                      <span *ngIf="(confirmNewPassword.touched || confirmNewPassword.dirty) && !confirmNewPassword.invalid">Confirm Password</span>
                      <span *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)" class="text-danger">
                        <div *ngIf="confirmNewPassword.errors['required'] || confirmNewPassword.errors['notOnlyWhitespace']">
                          Password confirmation required
                        </div>
                        <div *ngIf="confirmNewPassword.errors['notEquivalent']">
                          Passwords do not match
                        </div>
                      </span>
                    </label>
                  </div>

                  <button type="submit" [disabled]="resetPasswordFormGroup.invalid" class="btn btn-outline-light mt-5 btn-lg px-5">Change</button>
                </div>
              </form>
            </div>

            <div>
              <p class="mb-0"><a routerLink="/login" class="text-white-50 fw-bold">Back to Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>