<!-- Change Password Window -->
<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-4">
        <div class="card bg-dark text-white mt-2 mb-2" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="pb-4">
              <h3 class="fw-bold mb-2 text-uppercase">Change Password</h3>
              <p class="text-white-50 mb-4">Please enter your new password!</p>
              <form *ngIf="resetPasswordFormGroup" [formGroup]="resetPasswordFormGroup" (ngSubmit)="onResetPassword()">
                <div formGroupName="resetedPassword" class="text-left">
                  <div class="form-outline form-white mb-3">
                    <input formControlName="newPassword" type="password" class="form-control">
                    <label class="form-label" for="newPassword">
                      <span *ngIf="!newPassword.touched && !newPassword.dirty">Password</span>
                      <span *ngIf="(newPassword.touched || newPassword.dirty) && !newPassword.invalid">Password</span>
                      <span *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="text-danger">
                        <div *ngIf="newPassword.errors['required'] || newPassword.errors['notOnlyWhitespace']">
                          Password is required
                        </div>
                        <div *ngIf="newPassword.errors['minlength']">
                          Password must be at least 5 characters long
                        </div>
                        <div *ngIf="newPassword.errors['maxlength']">
                          Password must be no more than 32 characters long
                        </div>
                      </span>
                    </label>
                  </div>
                  <div class="form-outline form-white mb-3">
                    <input formControlName="confirmNewPassword" type="password" class="form-control">
                    <label class="form-label" for="confirmNewPassword">
                      <span *ngIf="!confirmNewPassword.touched && !confirmNewPassword.dirty">Confirm Password</span>
                      <span *ngIf="(confirmNewPassword.touched || confirmNewPassword.dirty) && !confirmNewPassword.invalid">Confirm Password</span>
                      <span *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)" class="text-danger">
                        <div *ngIf="confirmNewPassword.errors['required'] || confirmNewPassword.errors['notOnlyWhitespace']">
                          Password confirmation required
                        </div>
                        <div *ngIf="confirmNewPassword.errors['notEquivalent']">
                          Passwords do not match
                        </div>
                      </span>
                    </label>
                  </div>

                  <button type="submit" [disabled]="resetPasswordFormGroup.invalid" class="btn btn-outline-light px-5">Change</button>
                </div>
              </form>
            </div>

            <div>
              <p class="mb-0"><a routerLink="/login" class="text-white-50 fw-bold">Back to Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>