<!-- Exercise Types Table -->
<div class="container mt-2">
    <div class="row mt-2 mb-2 mb-md-0">
        <div class="col-7">
            <h2 class="text-secondary font-weight-bold"><i class="fa-solid fa-person-swimming me-2"></i>Exercise Types</h2>
        </div>
        <div class="col-5 text-end">
            <div class="btn-group">
                <button type="button" (click)="makeExerciseTypeAddFormGroup()" class="btn btn-info ms-2 me-2" data-bs-toggle="modal" data-bs-target="#addExerciseTypeModal" title="Add new Exercise Type">
                    <span class="d-none d-md-block"><i class="fas fa-plus"></i> Add Exercise Type</span>
                    <span class="d-md-none"><i class="fas fa-plus"></i>Add</span>  
                </button>
            </div>
            <div class="btn-group">
                <button type="button" (click)="refresh()" class="btn btn-light" title="Refresh">
                    <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i>
                    <i *ngIf="!refreshing" class="fas fa-sync"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table *ngIf="exerciseTypes?.length > 0" class="table">
            <thead class="table-dark">
                <tr align="center">
                    <th class="align-middle text-nowrap">Description</th>
                    <th class="align-middle text-nowrap">Measure</th>
                    <th class="align-middle text-nowrap">Calories Burned</th>
                    <th class="align-middle text-nowrap">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tempExerciseType of exerciseTypes" align="center">
                    <td class="align-middle text-nowrap">{{ tempExerciseType.description }}</td>
                    <td class="align-middle text-nowrap">{{ tempExerciseType.measure }}</td>
                    <td class="align-middle text-nowrap">{{ tempExerciseType.caloriesBurned }}</td>
                    <td class="align-middle text-nowrap">
                        <button (click)="prepareExerciseTypeEditFormGroup(tempExerciseType)" class="btn btn-outline-info btn-sm" title="Update Exercise Type" data-bs-toggle="modal" data-bs-target="#editExerciseTypeModal">
                            <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                        </button>
                        <button (click)="deleteExerciseType(tempExerciseType.id, tempExerciseType.description)" class="btn btn-outline-danger btn-sm ms-1" title="Delete Exercise Type">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- if exerciseTypes is empty then display a message -->
    <div *ngIf="exerciseTypes?.length == 0" class="container">
        <div class="row">
            <h4 class="alert alert-warning col-md-12">No exercise types found.</h4>
        </div>
    </div>
</div>

<!-- Exercise Type Add Modal Form -->
<div class="modal draggable fade bd-example-modal-lg" id="addExerciseTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Add New Exercise Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="exerciseTypeAddFormGroup" (ngSubmit)="onAddNewExerciseType()">
                <div class="modal-body text-left">
                    <div formGroupName="exerciseType" class="text-left">
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="description">Description</label>
                            <input formControlName="description" type="text" class="form-control" placeholder="Description">
                            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger">
                                <div *ngIf="description.errors['required'] || description.errors['notOnlyWhitespace']">
                                    Description is required
                                </div>
                                <div *ngIf="description.errors['minlength']">
                                    Description must be at least 2 characters long
                                </div>
                                <div *ngIf="description.errors['maxlength']">
                                    Description must be no more than 120 characters long
                                </div>
                            </div>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="measure">Measure</label>
                            <input formControlName="measure" type="text" class="form-control" placeholder="Measure">
                            <div *ngIf="measure.invalid && (measure.dirty || measure.touched)" class="text-danger">
                                <div *ngIf="measure.errors['required'] || measure.errors['notOnlyWhitespace']">
                                    Measure is required
                                </div>
                                <div *ngIf="measure.errors['minlength']">
                                    Measure must be at least 2 characters long
                                </div>
                                <div *ngIf="measure.errors['maxlength']">
                                    Measure must be no more than 40 characters long
                                </div>
                            </div>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="caloriesBurned">Calories Burned</label>
                            <input formControlName="caloriesBurned" type="number" class="form-control" placeholder="Calories Burned" />
                            <div *ngIf="caloriesBurned.invalid && (caloriesBurned.dirty || caloriesBurned.touched)" class="text-danger">
                                <div *ngIf="caloriesBurned.errors['required']">
                                    Calories Burned is required
                                </div>
                                <div *ngIf="caloriesBurned.errors['min']">
                                    Calories Burned must be over 1
                                </div>
                                <div *ngIf="caloriesBurned.errors['max']">
                                    Calories Burned must be no more than 1000
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="exerciseType-add-modal-close">Close</button>
                    <button type="submit" class="btn btn-info btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Exercise Type Edit Modal Form -->
<div class="modal draggable fade bd-example-modal-lg" id="editExerciseTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Edit Exercise Type: {{ editedExerciseTypeDescription }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="exerciseTypeEditFormGroup" (ngSubmit)="onUpdateExerciseType()">
                <div class="modal-body text-left">
                    <div formGroupName="exerciseType" class="text-left">
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="descriptionEdited">Description</label>
                            <input formControlName="descriptionEdited" type="text" class="form-control" placeholder="Description">
                            <div *ngIf="descriptionEdited.invalid && (descriptionEdited.dirty || descriptionEdited.touched)" class="text-danger">
                                <div *ngIf="descriptionEdited.errors['required'] || descriptionEdited.errors['notOnlyWhitespace']">
                                    Description is required
                                </div>
                                <div *ngIf="descriptionEdited.errors['minlength']">
                                    Description must be at least 2 characters long
                                </div>
                                <div *ngIf="descriptionEdited.errors['maxlength']">
                                    Description must be no more than 120 characters long
                                </div>
                            </div>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="measureEdited">Measure</label>
                            <input formControlName="measureEdited" type="text" class="form-control" placeholder="Measure">
                            <div *ngIf="measureEdited.invalid && (measureEdited.dirty || measureEdited.touched)" class="text-danger">
                                <div *ngIf="measureEdited.errors['required'] || measureEdited.errors['notOnlyWhitespace']">
                                    Measure is required
                                </div>
                                <div *ngIf="measureEdited.errors['minlength']">
                                    Measure must be at least 2 characters long
                                </div>
                                <div *ngIf="measureEdited.errors['maxlength']">
                                    Measure must be no more than 40 characters long
                                </div>
                            </div>
                        </div>
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="caloriesBurnedEdited">Calories Burned</label>
                            <input formControlName="caloriesBurnedEdited" type="number" class="form-control" placeholder="Calories Burned" />
                            <div *ngIf="caloriesBurnedEdited.invalid && (caloriesBurnedEdited.dirty || caloriesBurnedEdited.touched)" class="text-danger">
                                <div *ngIf="caloriesBurnedEdited.errors['required']">
                                    Calories Burned is required
                                </div>
                                <div *ngIf="caloriesBurnedEdited.errors['min']">
                                    Calories Burned must be over 1
                                </div>
                                <div *ngIf="caloriesBurnedEdited.errors['max']">
                                    Calories Burned must be no more than 1000
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="exerciseType-edit-modal-close">Close</button>
                    <button type="submit" class="btn btn-info btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>